@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  -webkit-tap-highlight-color: rgba(3, 1, 68, 0);
  outline: none;
  color-scheme:dark;
  color: rgb(var(--foreground-rgb));
  bmackground: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.shadowd1{
  box-shadow:  3px 3px 8px #2f44bb,
  -3px -3px 8px #0d1756;
  background: linear-gradient(145deg, #9a91fb, #6854fb);
  transition: box-shadow 0.05s ease-in-out;
}
.shadowd1:hover {
  box-shadow:  0px 0px 20px #5264cf,
  0px 0px 20px  #233191;
}
.textclip2{
  background-image: linear-gradient(90deg,#9a91fb,#6854fb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.textclip3{
  background-image: linear-gradient(90deg,#fbb5c3,#6dd46c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.anim1{
  animation: opacity1 7000ms ease-in-out 0ms 100;
}
.anim2{
  animation: opacity2 7000ms ease-in-out 0ms 100;
}
@keyframes opacity1 {
  0%{
    opacity: 100;
  }
  20%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  80%{
    opacity: 100;
  }
  100%{
    opacity: 100;
  }
}
@keyframes opacity2 {
  0%{
    opacity: 0;
  }
  20%{
    opacity: 100;
  }
  50%{
    opacity: 100;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

body{
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#14184a 1px, #000000 0.65px);
  background-size: 10px 10px;
}